
body {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    margin:0;
    height:100vh;
    font-family: 'Kanit', sans-serif;

}
html{
    background-color:#E7CEB1;
}

h1 {
    color: #55869B;
}

h2 {
    color: #55869B;
}

aside {
    grid-column: 2;
    grid-row: 2/3;
    margin-top:4%;
    background-color: #F9F3EC;
    height:100%;
    color: #55869B;
}

article {
    grid-column: 2/3;
    background-color: #E7CEB1;
}

header {
    text-align: center;
}

.aboutdocs {
    color: #55869B;
    margin: 1%;
}

.flex {
    display: flex;
    justify-content: right;
}

.flex1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.flex1 div:last-child {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}

button{
    border-radius: 10px;
    padding: 10px;
    border-style:solid;
    color:#F9F3EC;
    cursor: pointer;
}
.button1 {
    background: #55869B;
    margin-left: 12px;
    margin-top: 10px;
    border-color:#55869B;

}

.button2 {
    background: #6F6A87;
    margin-right: 12px;
    margin-top: 10px;
    border-color:#6F6A87;
}

ul {
    list-style: square;
    cursor: pointer;
    /* color: #55869B; */

}

.textbox {
    border: solid 2px #55869B;
    margin: 2%;
    overflow: hidden;
    background-color: #F9F3EC;
}


.textbox textarea {
    background-color: transparent;
    border: 0;
    padding-bottom:15%;
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
}

.button3 {
    background: #55869B;
    margin-right: 5%;
    border-color:#55869B;
}

.button4 {
    background: #D9827C;
    border-color:#D9827C;
    
}

.flex2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right:2%;
}

.flex2 div:first-child {
    display: inline-flex;
    justify-content: flex-end;


}

.flex2 div:last-child {
    grid-column: 2/3;
    justify-content: flex-end;
}

footer p{
    text-align:center;
    display:grid;
    grid-column:2;
    font-size:35px;
    margin-bottom:0%;
}

footer div{
    text-align:center;
}

footer {
    grid-row:3;
    grid-column:2;
}
.ta {
    color: black
 }
@media screen and (min-width:600px) {
    body {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }
    aside {
        grid-column: 1/2;
        grid-row: 1/4;
        margin-top:0%;
    }
}

/* FOR JAVASCRIPT */
.darkthememode{
    background-color:#334467;
    color: white;
}


.darkthememode2{
    background-color: #211737;
}

.textwhite{
    color:white;
}

.your-class::-webkit-input-placeholder {
    color: white
 }

.darktolight{
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.hidden{
    display:none;
}

.bluebutton{
    background-color: darkslategrey;
    border-color:darkslategrey
}

.redbutton{
    background-color:darkred;
    border-color:darkred;
}

.aboutdocs1{
    color:white;
}

.textareabackground{
    background-color: black;
    border-color:darkslateblue
}
